body, #profile, .pics, p, h1, h2, h3, h4, h5, h6, li {
  margin-left: auto;
  margin-right: auto;
}

body {
  min-width: 330px;
  max-width: 40%;
  background: -webkit-linear-gradient(blue, red), no-repeat;
}

article {
  border: 2px solid;
  background-color: rgba(0,255,0,.5);
}

footer {
  border: 2px solid;  
  background-color: rgba(0,0,255,.5);
  text-align: center;
}

#main {
  min-height: 1000px;
}

#wrapper {
  border: 2px solid;
  background-color: rgba(255,0,0,.5);
}

#profile {
  max-height: 250px; 
  max-width: 250px;
  display: block;
  border: 5px solid;
  box-shadow: 10px 10px 5px #888888;
}

.pics {
  max-height: 250px; 
  max-width: 250px;
  display: block;
  border: 5px solid;
  box-shadow: 10px 10px 5px #888888;
}

.social-icon {
  width:40px;
  height:40px;
  margin:10px;
}

.social-icon:hover{
  opacity: .5;
  width:50px;
  height:50px;
  margin: 0;
}

nav li {
  display:inline-block;
  margin: .5em;
  border: 1px solid;
  padding: .25em;
}

li {
  list-style-position: outside;
  list-style: none;
}

a:hover {
  color: rgba(255,0,0,1);
}

a {
  text-decoration:none;
}

p,h1,h2,h3,h4,h5,h6,li {
  max-width: 250px;
  text-align: center;
}

h1::first-letter {
  font-size: 1.5em;
}

p::first-letter {
  font-size: 1.5em;
  color: #000;
}